*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
    font-size: x-large;
}

.Calculator{
    display: flex;
    flex-direction: column;
    background-color: rgb(119, 98, 98);
    margin:  5rem auto;
    width: 500px;
    height: 700px;
    border-radius: 8px;
}
.screen_Container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
    margin: .5rem auto;
    /* padding: 0 .5rem; */
    text-align:end;
    width: 95%;
    height: 15%;
    border-radius: 5px;
}

.buttons_Container{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    height:80%;
    width: 95%;
}

.buttons_Container button{
    width: 25%;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 20px;
}
.buttons_Container button:nth-child(17){
    width: 50%;
}

.blue{
    background-color: rgb(54, 153, 184);
}
.Yellow{
    background-color: rgba(255, 155, 6, 0.644);
}
.green{
    background-color: rgb(39, 197, 39);
}